.status {
  background-color: black;
  border-radius: 7px;
  padding: 2px 3px;
  color: white;
  display: flex;
  align-items: stretch;
}
.solved {
  background-color: rgb(246, 219, 10);
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  padding: 1px 10px;
  transition: 0.5s;
}
.notSolved {
  background-color: none;
  border: 1px solid black;
  color: white;
  border-radius: 5px;
  padding: 1px 10px;
  transition: 0.5s;
}
